# Eclipse
.project
.classpath
.settings/
bin/
storage.bin
# IntelliJ
.idea
*.ipr
*.iml
*.iws
*.crt
*.key
*.csr

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

log
rostore.properties


# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
